# Environment & IDE
.env
.vscode/
.idea/
*.suo
*.user

# Node.js (Notification Service & Gateway)
node_modules/
npm-debug.log

# Java (Auth Service)
target/
*.class
.gradle/
build/

# PHP (Transaction Service)
vendor/
.phpunit.result.cache

# C# (Asset Service)
bin/
obj/

# Python (Analytics Service)
__pycache__/
*.py[cod]
*.venv
venv/

# Go (Integration Service)
*.exe
*.out
